@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&family=Open+Sans:ital@1&family=Poppins:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.qual{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

/* From uiverse.io by @NabeelAhmadK */
button {
    width: fit-content;
    height: 45px;
    background: #ffffff0d;
    border-radius: 8px;
    border: 2px solid #334b79;
    font-size: 15px;
    font-weight: bold;
    color: #334b79;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: relative;
    overflow: hidden;
    padding: 10px 25px;
    z-index: 1;
  }
  
  button:before {
    width: 50%;
    height: 100%;
    content: "";
    margin: auto;
    position: absolute;
    top: 0%;
    left: -50%;
    background: #334b79;
    transition: all 0.5s ease;
    z-index: -1;
  }
  
  button:after {
    width: 50%;
    height: 100%;
    content: "";
    margin: auto;
    position: absolute;
    top: 0%;
    left: 100%;
    background: #334b79;
    transition: all 0.5s ease;
    z-index: -1;
  }
  
  button:hover {
    color: white;
    cursor: pointer;
  }
  
  button:hover:before {
    top: 0;
    left: 0;
  }
  
  button:hover:after {
    top: 0;
    left: 50%;
  }

  input[type = "checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
  }
  
  .bar {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 30px;
  }
  
  .bar span {
    position: absolute;
    width: 35px;
    height: 4px;
    background: #f1faee;
    border-radius: 100px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0;
  }
  
  .bar span.top {
    top: 0;
  }
  
  .bar span.middle {
    top: 13px;
  }
  
  .bar span.bottom {
    bottom: 0;
  }
  





/* The switch - the box around the slider */
.switch {
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}  
